In [1]:
import pandas as pd # used for processing dataframes

import numpy as np  # used for processing numbers

In [13]:
df = pd.read_excel("Housing_data.xlsx", sheet_name = 'Housing Dataset')

In [14]:
df

,Suburb,Address,Rooms,Type,Price,SellerG,Date,Distance,Postcode,Bedroom,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,68 Studley St,2,h,NaN,Jellis,2016-09-03,2.5,3067.0,2.0,1.0,1.0,126.0,NaN,NaN,Yarra,-37.80140,144.99580,Northern Metropolitan,4019.0
1,Abbotsford,85 Turner St,2,h,1480000.0,Biggin,2016-12-03,2.5,3067.0,2.0,1.0,1.0,202.0,NaN,NaN,Yarra,-37.79960,144.99840,Northern Metropolitan,4019.0
2,Abbotsford,25 Bloomburg St,2,h,1035000.0,Biggin,2016-02-04,2.5,3067.0,2.0,1.0,0.0,156.0,79.0,1900.0,Yarra,-37.80790,144.99340,Northern Metropolitan,4019.0
3,Abbotsford,18/659 Victoria St,3,u,NaN,Rounds,2016-02-04,2.5,3067.0,3.0,2.0,1.0,0.0,NaN,NaN,Yarra,-37.81140,145.01160,Northern Metropolitan,4019.0
4,Abbotsford,5 Charles St,3,h,1465000.0,Biggin,2017-03-04,2.5,3067.0,3.0,2.0,0.0,134.0,150.0,1900.0,Yarra,-37.80930,144.99440,Northern Metropolitan,4019.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23542,Wyndham Vale,25 Clitheroe Dr,3,u,NaN,Harcourts,2017-08-26,27.2,3024.0,3.0,1.0,0.0,552.0,119.0,1990.0,NaN,-37.90032,144.61839,Western Metropolitan,5262.0
23543,Wyndham Vale,19 Dalrymple Bvd,4,h,NaN,hockingstuart,2017-08-26,27.2,3024.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-37.87882,144.60184,Western Metropolitan,5262.0
23544,Yallambie,17 Amaroo Wy,4,h,1100000.0,Buckingham,2017-08-26,12.7,3085.0,4.0,3.0,2.0,NaN,NaN,NaN,NaN,-37.72006,145.10547,Northern Metropolitan,1369.0
23545,Yarraville,6 Agnes St,4,h,1285000.0,Village,2017-08-26,6.3,3013.0,4.0,1.0,1.0,362.0,112.0,1920.0,NaN,-37.81188,144.88449,Western Metropolitan,6543.0
23546,Yarraville,33 Freeman St,4,h,1050000.0,Village,2017-08-26,6.3,3013.0,4.0,2.0,2.0,NaN,139.0,1950.0,NaN,-37.81829,144.87404,Western Metropolitan,6543.0

# Find the dimension of the given dataset and mention the # of rows & # of columns

In [15]:
df.shape

(23547, 20)

## Rows: 23547 Columns: 20

# Find the summary of the given dataset using describe function?

In [16]:
df.describe()

,Rooms,Price,Distance,Postcode,Bedroom,Bathroom,Car,Landsize,BuildingArea,YearBuilt,Lattitude,Longtitude,Propertycount
count,23547.000000,1.839600e+04,23546.000000,23546.000000,19066.000000,19063.000000,18921.000000,17410.000000,10018.000000,11540.000000,19243.000000,19243.000000,23546.000000
mean,2.976048,1.056697e+06,10.306515,3109.782893,2.951956,1.570897,1.626235,551.783458,154.527895,1964.636742,-37.812434,145.000287,7517.480591
std,0.974501,6.419217e+05,6.016318,94.522190,0.996032,0.712684,0.974048,3544.288014,462.535765,37.595504,0.079926,0.106071,4414.995634
min,1.000000,8.500000e+04,0.000000,3000.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1196.000000,-38.184180,144.431620,129.000000
25%,2.000000,6.330000e+05,6.200000,3047.000000,2.000000,1.000000,1.000000,181.000000,95.000000,1940.000000,-37.859300,144.939300,4385.000000
50%,3.000000,8.800000e+05,9.500000,3101.000000,3.000000,1.000000,2.000000,448.000000,129.000000,1970.000000,-37.809700,145.004300,6567.000000
75%,4.000000,1.302000e+06,13.000000,3150.000000,4.000000,2.000000,2.000000,656.000000,180.000000,2000.000000,-37.759800,145.063100,10331.000000
max,12.000000,9.000000e+06,48.100000,3978.000000,30.000000,12.000000,26.000000,433014.000000,44515.000000,2106.000000,-37.407580,145.526350,21650.000000

# Find the numeric columns and mention there names?

In [17]:
df2 = df.copy()

In [18]:
df2

,Suburb,Address,Rooms,Type,Price,SellerG,Date,Distance,Postcode,Bedroom,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,68 Studley St,2,h,NaN,Jellis,2016-09-03,2.5,3067.0,2.0,1.0,1.0,126.0,NaN,NaN,Yarra,-37.80140,144.99580,Northern Metropolitan,4019.0
1,Abbotsford,85 Turner St,2,h,1480000.0,Biggin,2016-12-03,2.5,3067.0,2.0,1.0,1.0,202.0,NaN,NaN,Yarra,-37.79960,144.99840,Northern Metropolitan,4019.0
2,Abbotsford,25 Bloomburg St,2,h,1035000.0,Biggin,2016-02-04,2.5,3067.0,2.0,1.0,0.0,156.0,79.0,1900.0,Yarra,-37.80790,144.99340,Northern Metropolitan,4019.0
3,Abbotsford,18/659 Victoria St,3,u,NaN,Rounds,2016-02-04,2.5,3067.0,3.0,2.0,1.0,0.0,NaN,NaN,Yarra,-37.81140,145.01160,Northern Metropolitan,4019.0
4,Abbotsford,5 Charles St,3,h,1465000.0,Biggin,2017-03-04,2.5,3067.0,3.0,2.0,0.0,134.0,150.0,1900.0,Yarra,-37.80930,144.99440,Northern Metropolitan,4019.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23542,Wyndham Vale,25 Clitheroe Dr,3,u,NaN,Harcourts,2017-08-26,27.2,3024.0,3.0,1.0,0.0,552.0,119.0,1990.0,NaN,-37.90032,144.61839,Western Metropolitan,5262.0
23543,Wyndham Vale,19 Dalrymple Bvd,4,h,NaN,hockingstuart,2017-08-26,27.2,3024.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-37.87882,144.60184,Western Metropolitan,5262.0
23544,Yallambie,17 Amaroo Wy,4,h,1100000.0,Buckingham,2017-08-26,12.7,3085.0,4.0,3.0,2.0,NaN,NaN,NaN,NaN,-37.72006,145.10547,Northern Metropolitan,1369.0
23545,Yarraville,6 Agnes St,4,h,1285000.0,Village,2017-08-26,6.3,3013.0,4.0,1.0,1.0,362.0,112.0,1920.0,NaN,-37.81188,144.88449,Western Metropolitan,6543.0
23546,Yarraville,33 Freeman St,4,h,1050000.0,Village,2017-08-26,6.3,3013.0,4.0,2.0,2.0,NaN,139.0,1950.0,NaN,-37.81829,144.87404,Western Metropolitan,6543.0

In [19]:
df2.select_dtypes(include=np.number).columns.tolist()

['Rooms',
 'Price',
 'Distance',
 'Postcode',
 'Bedroom',
 'Bathroom',
 'Car',
 'Landsize',
 'BuildingArea',
 'YearBuilt',
 'Lattitude',
 'Longtitude',
 'Propertycount']

# Find the categorical columns and mentions there names?

In [35]:
df2.infer_objects()

,Suburb,Address,Rooms,Type,Price,SellerG,Date,Distance,Postcode,Bedroom,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,68 Studley St,2,h,NaN,Jellis,2016-09-03,2.5,3067.0,2.0,1.0,1.0,126.0,NaN,NaN,Yarra,-37.80140,144.99580,Northern Metropolitan,4019.0
1,Abbotsford,85 Turner St,2,h,1480000.0,Biggin,2016-12-03,2.5,3067.0,2.0,1.0,1.0,202.0,NaN,NaN,Yarra,-37.79960,144.99840,Northern Metropolitan,4019.0
2,Abbotsford,25 Bloomburg St,2,h,1035000.0,Biggin,2016-02-04,2.5,3067.0,2.0,1.0,0.0,156.0,79.0,1900.0,Yarra,-37.80790,144.99340,Northern Metropolitan,4019.0
3,Abbotsford,18/659 Victoria St,3,u,NaN,Rounds,2016-02-04,2.5,3067.0,3.0,2.0,1.0,0.0,NaN,NaN,Yarra,-37.81140,145.01160,Northern Metropolitan,4019.0
4,Abbotsford,5 Charles St,3,h,1465000.0,Biggin,2017-03-04,2.5,3067.0,3.0,2.0,0.0,134.0,150.0,1900.0,Yarra,-37.80930,144.99440,Northern Metropolitan,4019.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23542,Wyndham Vale,25 Clitheroe Dr,3,u,NaN,Harcourts,2017-08-26,27.2,3024.0,3.0,1.0,0.0,552.0,119.0,1990.0,NaN,-37.90032,144.61839,Western Metropolitan,5262.0
23543,Wyndham Vale,19 Dalrymple Bvd,4,h,NaN,hockingstuart,2017-08-26,27.2,3024.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-37.87882,144.60184,Western Metropolitan,5262.0
23544,Yallambie,17 Amaroo Wy,4,h,1100000.0,Buckingham,2017-08-26,12.7,3085.0,4.0,3.0,2.0,NaN,NaN,NaN,NaN,-37.72006,145.10547,Northern Metropolitan,1369.0
23545,Yarraville,6 Agnes St,4,h,1285000.0,Village,2017-08-26,6.3,3013.0,4.0,1.0,1.0,362.0,112.0,1920.0,NaN,-37.81188,144.88449,Western Metropolitan,6543.0
23546,Yarraville,33 Freeman St,4,h,1050000.0,Village,2017-08-26,6.3,3013.0,4.0,2.0,2.0,NaN,139.0,1950.0,NaN,-37.81829,144.87404,Western Metropolitan,6543.0

In [37]:
df2.select_dtypes(include="object").columns.tolist()

['Suburb', 'Address', 'Type', 'SellerG', 'CouncilArea', 'Regionname']

# Create a dataframe which show categorical columns in one column & the unique number of categories in second column?

In [38]:
temp = df2.select_dtypes(include="object").columns.tolist()

In [39]:
temp

['Suburb', 'Address', 'Type', 'SellerG', 'CouncilArea', 'Regionname']

In [40]:
df_category = pd.DataFrame({'Category_Name': temp})

In [41]:
df_category

  Category_Name
0        Suburb
1       Address
2          Type
3       SellerG
4   CouncilArea
5    Regionname

In [42]:
df_category["Unique_Category"] = df_category.apply(lambda x: len(pd.unique(df2[x["Category_Name"]])),axis=1)

In [43]:
df_category

  Category_Name  Unique_Category
0        Suburb              336
1       Address            23108
2          Type                3
3       SellerG              330
4   CouncilArea               35
5    Regionname                9

# Create a dataframe which has given dataset column name in one column and in the second column calculate the # of missing values in that column

In [46]:
df_column_Na = pd.DataFrame({'column_names': df2.columns.tolist()})

In [47]:
df_column_Na

     column_names
0          Suburb
1         Address
2           Rooms
3            Type
4           Price
5         SellerG
6            Date
7        Distance
8        Postcode
9         Bedroom
10       Bathroom
11            Car
12       Landsize
13   BuildingArea
14      YearBuilt
15    CouncilArea
16      Lattitude
17     Longtitude
18     Regionname
19  Propertycount

In [48]:
df_column_Na["Nan_values_num"] = df_column_Na.apply(lambda x: df2[x['column_names']].isnull().sum() ,axis=1)

In [49]:
df_column_Na

     column_names  Nan_values_num
0          Suburb               0
1         Address               0
2           Rooms               0
3            Type               0
4           Price            5151
5         SellerG               0
6            Date               0
7        Distance               1
8        Postcode               1
9         Bedroom            4481
10       Bathroom            4484
11            Car            4626
12       Landsize            6137
13   BuildingArea           13529
14      YearBuilt           12007
15    CouncilArea            7891
16      Lattitude            4304
17     Longtitude            4304
18     Regionname               1
19  Propertycount               1

# Figure out any two data quality issues with the given dataset and explain with them with examples

## The first data quality issues are the missing prices, because we do not know what that indicates. Does it mean that the Property is not available to sell, there is no valuation done on the property etc, Thus creating these confusions, which becomes an issue when finding the mean median and doign other analytics on the selling price say for a suburb. Another issue is that landsize of various houses are 0, thus making them false data.

## The second issue is that the variable distance is given but it is not explained to what the distance is relative to. It is from an absolute point from a suburb, or are all locations distanced from a particular area, Thus giving the person no scale as to how they should see the distance variable as and what is its use. For example, if we find the statistics on the distance numeric but cannot explain to what that pertains to we are possibly giving out a wrong analysis

# Fill the missing values in the pricing column from two approaches first by replacing either by median or mean and second by replacing it using the average value of pricing by house type

In [51]:
df_median = df2.copy()

In [53]:
df_median

,Suburb,Address,Rooms,Type,Price,SellerG,Date,Distance,Postcode,Bedroom,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,68 Studley St,2,h,NaN,Jellis,2016-09-03,2.5,3067.0,2.0,1.0,1.0,126.0,NaN,NaN,Yarra,-37.80140,144.99580,Northern Metropolitan,4019.0
1,Abbotsford,85 Turner St,2,h,1480000.0,Biggin,2016-12-03,2.5,3067.0,2.0,1.0,1.0,202.0,NaN,NaN,Yarra,-37.79960,144.99840,Northern Metropolitan,4019.0
2,Abbotsford,25 Bloomburg St,2,h,1035000.0,Biggin,2016-02-04,2.5,3067.0,2.0,1.0,0.0,156.0,79.0,1900.0,Yarra,-37.80790,144.99340,Northern Metropolitan,4019.0
3,Abbotsford,18/659 Victoria St,3,u,NaN,Rounds,2016-02-04,2.5,3067.0,3.0,2.0,1.0,0.0,NaN,NaN,Yarra,-37.81140,145.01160,Northern Metropolitan,4019.0
4,Abbotsford,5 Charles St,3,h,1465000.0,Biggin,2017-03-04,2.5,3067.0,3.0,2.0,0.0,134.0,150.0,1900.0,Yarra,-37.80930,144.99440,Northern Metropolitan,4019.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23542,Wyndham Vale,25 Clitheroe Dr,3,u,NaN,Harcourts,2017-08-26,27.2,3024.0,3.0,1.0,0.0,552.0,119.0,1990.0,NaN,-37.90032,144.61839,Western Metropolitan,5262.0
23543,Wyndham Vale,19 Dalrymple Bvd,4,h,NaN,hockingstuart,2017-08-26,27.2,3024.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-37.87882,144.60184,Western Metropolitan,5262.0
23544,Yallambie,17 Amaroo Wy,4,h,1100000.0,Buckingham,2017-08-26,12.7,3085.0,4.0,3.0,2.0,NaN,NaN,NaN,NaN,-37.72006,145.10547,Northern Metropolitan,1369.0
23545,Yarraville,6 Agnes St,4,h,1285000.0,Village,2017-08-26,6.3,3013.0,4.0,1.0,1.0,362.0,112.0,1920.0,NaN,-37.81188,144.88449,Western Metropolitan,6543.0
23546,Yarraville,33 Freeman St,4,h,1050000.0,Village,2017-08-26,6.3,3013.0,4.0,2.0,2.0,NaN,139.0,1950.0,NaN,-37.81829,144.87404,Western Metropolitan,6543.0

In [54]:
df_median.fillna(df_median['Price'].median(), inplace = True)

In [55]:
df_median

,Suburb,Address,Rooms,Type,Price,SellerG,Date,Distance,Postcode,Bedroom,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,68 Studley St,2,h,880000.0,Jellis,2016-09-03,2.5,3067.0,2.0,1.0,1.0,126.0,880000.0,880000.0,Yarra,-37.80140,144.99580,Northern Metropolitan,4019.0
1,Abbotsford,85 Turner St,2,h,1480000.0,Biggin,2016-12-03,2.5,3067.0,2.0,1.0,1.0,202.0,880000.0,880000.0,Yarra,-37.79960,144.99840,Northern Metropolitan,4019.0
2,Abbotsford,25 Bloomburg St,2,h,1035000.0,Biggin,2016-02-04,2.5,3067.0,2.0,1.0,0.0,156.0,79.0,1900.0,Yarra,-37.80790,144.99340,Northern Metropolitan,4019.0
3,Abbotsford,18/659 Victoria St,3,u,880000.0,Rounds,2016-02-04,2.5,3067.0,3.0,2.0,1.0,0.0,880000.0,880000.0,Yarra,-37.81140,145.01160,Northern Metropolitan,4019.0
4,Abbotsford,5 Charles St,3,h,1465000.0,Biggin,2017-03-04,2.5,3067.0,3.0,2.0,0.0,134.0,150.0,1900.0,Yarra,-37.80930,144.99440,Northern Metropolitan,4019.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23542,Wyndham Vale,25 Clitheroe Dr,3,u,880000.0,Harcourts,2017-08-26,27.2,3024.0,3.0,1.0,0.0,552.0,119.0,1990.0,880000.0,-37.90032,144.61839,Western Metropolitan,5262.0
23543,Wyndham Vale,19 Dalrymple Bvd,4,h,880000.0,hockingstuart,2017-08-26,27.2,3024.0,880000.0,880000.0,880000.0,880000.0,880000.0,880000.0,880000.0,-37.87882,144.60184,Western Metropolitan,5262.0
23544,Yallambie,17 Amaroo Wy,4,h,1100000.0,Buckingham,2017-08-26,12.7,3085.0,4.0,3.0,2.0,880000.0,880000.0,880000.0,880000.0,-37.72006,145.10547,Northern Metropolitan,1369.0
23545,Yarraville,6 Agnes St,4,h,1285000.0,Village,2017-08-26,6.3,3013.0,4.0,1.0,1.0,362.0,112.0,1920.0,880000.0,-37.81188,144.88449,Western Metropolitan,6543.0
23546,Yarraville,33 Freeman St,4,h,1050000.0,Village,2017-08-26,6.3,3013.0,4.0,2.0,2.0,880000.0,139.0,1950.0,880000.0,-37.81829,144.87404,Western Metropolitan,6543.0

In [56]:
df_avg_val = df2.copy()

In [66]:
df_temp_agg = df2.groupby(['Suburb']).mean()

In [67]:
df_temp_agg

,Rooms,Price,Distance,Postcode,Bedroom,Bathroom,Car,Landsize,BuildingArea,YearBuilt,Lattitude,Longtitude,Propertycount
Suburb,,,,,,,,,,,,,
Abbotsford,2.442308,1.026500e+06,2.625000,3067.0,2.538462,1.474359,1.012987,330.871429,106.428571,1948.150943,-37.804392,144.997720,4019.0
Aberfeldie,3.131148,1.266047e+06,8.601639,3040.0,3.055556,1.907407,1.944444,511.901961,180.181613,1982.081081,-37.759216,144.897063,1543.0
Airport West,2.973451,7.371776e+05,12.457522,3042.0,2.840000,1.453333,1.586667,422.211268,133.618780,1983.770833,-37.723465,144.879806,3464.0
Albanvale,3.000000,5.330625e+05,14.000000,3021.0,3.000000,1.454545,2.272727,517.285714,125.000000,1983.166667,-37.745127,144.771010,1899.0
Albert Park,2.815534,1.924388e+06,3.227184,3206.0,2.797980,1.555556,0.747368,186.308511,131.336957,1910.807692,-37.844229,144.953318,3280.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
Wyndham Vale,3.416667,5.203286e+05,27.200000,3024.0,3.461538,1.692308,1.846154,536.750000,145.854000,1995.666667,-37.884253,144.613570,5262.0
Yallambie,3.428571,8.275878e+05,14.561905,3085.0,3.517241,1.862069,1.758621,596.777778,173.023529,1983.850000,-37.726047,145.095904,1369.0
Yarra Glen,3.000000,6.200000e+05,31.400000,3775.0,3.000000,2.000000,1.000000,863.000000,180.560000,1975.000000,-37.653910,145.373890,1160.0
Yarraville,2.895197,9.672797e+05,6.834934,3013.0,2.880383,1.416268,1.461165,315.931034,130.441653,1950.266187,-37.816809,144.883978,6543.0
croydon,3.000000,7.300000e+05,23.000000,3136.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11925.0

In [70]:
df_avg_val

,Suburb,Address,Rooms,Type,Price,SellerG,Date,Distance,Postcode,Bedroom,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,68 Studley St,2,h,NaN,Jellis,2016-09-03,2.5,3067.0,2.0,1.0,1.0,126.0,NaN,NaN,Yarra,-37.80140,144.99580,Northern Metropolitan,4019.0
1,Abbotsford,85 Turner St,2,h,1480000.0,Biggin,2016-12-03,2.5,3067.0,2.0,1.0,1.0,202.0,NaN,NaN,Yarra,-37.79960,144.99840,Northern Metropolitan,4019.0
2,Abbotsford,25 Bloomburg St,2,h,1035000.0,Biggin,2016-02-04,2.5,3067.0,2.0,1.0,0.0,156.0,79.0,1900.0,Yarra,-37.80790,144.99340,Northern Metropolitan,4019.0
3,Abbotsford,18/659 Victoria St,3,u,NaN,Rounds,2016-02-04,2.5,3067.0,3.0,2.0,1.0,0.0,NaN,NaN,Yarra,-37.81140,145.01160,Northern Metropolitan,4019.0
4,Abbotsford,5 Charles St,3,h,1465000.0,Biggin,2017-03-04,2.5,3067.0,3.0,2.0,0.0,134.0,150.0,1900.0,Yarra,-37.80930,144.99440,Northern Metropolitan,4019.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23542,Wyndham Vale,25 Clitheroe Dr,3,u,NaN,Harcourts,2017-08-26,27.2,3024.0,3.0,1.0,0.0,552.0,119.0,1990.0,NaN,-37.90032,144.61839,Western Metropolitan,5262.0
23543,Wyndham Vale,19 Dalrymple Bvd,4,h,NaN,hockingstuart,2017-08-26,27.2,3024.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-37.87882,144.60184,Western Metropolitan,5262.0
23544,Yallambie,17 Amaroo Wy,4,h,1100000.0,Buckingham,2017-08-26,12.7,3085.0,4.0,3.0,2.0,NaN,NaN,NaN,NaN,-37.72006,145.10547,Northern Metropolitan,1369.0
23545,Yarraville,6 Agnes St,4,h,1285000.0,Village,2017-08-26,6.3,3013.0,4.0,1.0,1.0,362.0,112.0,1920.0,NaN,-37.81188,144.88449,Western Metropolitan,6543.0
23546,Yarraville,33 Freeman St,4,h,1050000.0,Village,2017-08-26,6.3,3013.0,4.0,2.0,2.0,NaN,139.0,1950.0,NaN,-37.81829,144.87404,Western Metropolitan,6543.0

In [79]:
#The groupby + transform syntax maps the groupwise mean to the index of the original dataframe.

In [77]:
df_avg_val['Price'] = df_avg_val['Price'].fillna(df_avg_val.groupby('Suburb')['Price'].transform('mean')) #

In [78]:
df_avg_val

,Suburb,Address,Rooms,Type,Price,SellerG,Date,Distance,Postcode,Bedroom,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,68 Studley St,2,h,1.026500e+06,Jellis,2016-09-03,2.5,3067.0,2.0,1.0,1.0,126.0,NaN,NaN,Yarra,-37.80140,144.99580,Northern Metropolitan,4019.0
1,Abbotsford,85 Turner St,2,h,1.480000e+06,Biggin,2016-12-03,2.5,3067.0,2.0,1.0,1.0,202.0,NaN,NaN,Yarra,-37.79960,144.99840,Northern Metropolitan,4019.0
2,Abbotsford,25 Bloomburg St,2,h,1.035000e+06,Biggin,2016-02-04,2.5,3067.0,2.0,1.0,0.0,156.0,79.0,1900.0,Yarra,-37.80790,144.99340,Northern Metropolitan,4019.0
3,Abbotsford,18/659 Victoria St,3,u,1.026500e+06,Rounds,2016-02-04,2.5,3067.0,3.0,2.0,1.0,0.0,NaN,NaN,Yarra,-37.81140,145.01160,Northern Metropolitan,4019.0
4,Abbotsford,5 Charles St,3,h,1.465000e+06,Biggin,2017-03-04,2.5,3067.0,3.0,2.0,0.0,134.0,150.0,1900.0,Yarra,-37.80930,144.99440,Northern Metropolitan,4019.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23542,Wyndham Vale,25 Clitheroe Dr,3,u,5.203286e+05,Harcourts,2017-08-26,27.2,3024.0,3.0,1.0,0.0,552.0,119.0,1990.0,NaN,-37.90032,144.61839,Western Metropolitan,5262.0
23543,Wyndham Vale,19 Dalrymple Bvd,4,h,5.203286e+05,hockingstuart,2017-08-26,27.2,3024.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-37.87882,144.60184,Western Metropolitan,5262.0
23544,Yallambie,17 Amaroo Wy,4,h,1.100000e+06,Buckingham,2017-08-26,12.7,3085.0,4.0,3.0,2.0,NaN,NaN,NaN,NaN,-37.72006,145.10547,Northern Metropolitan,1369.0
23545,Yarraville,6 Agnes St,4,h,1.285000e+06,Village,2017-08-26,6.3,3013.0,4.0,1.0,1.0,362.0,112.0,1920.0,NaN,-37.81188,144.88449,Western Metropolitan,6543.0
23546,Yarraville,33 Freeman St,4,h,1.050000e+06,Village,2017-08-26,6.3,3013.0,4.0,2.0,2.0,NaN,139.0,1950.0,NaN,-37.81829,144.87404,Western Metropolitan,6543.0

In [81]:
df_avg_val["Price"]=df_avg_val["Price"].round(2)

In [82]:
df_avg_val

,Suburb,Address,Rooms,Type,Price,SellerG,Date,Distance,Postcode,Bedroom,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,68 Studley St,2,h,1026500.00,Jellis,2016-09-03,2.5,3067.0,2.0,1.0,1.0,126.0,NaN,NaN,Yarra,-37.80140,144.99580,Northern Metropolitan,4019.0
1,Abbotsford,85 Turner St,2,h,1480000.00,Biggin,2016-12-03,2.5,3067.0,2.0,1.0,1.0,202.0,NaN,NaN,Yarra,-37.79960,144.99840,Northern Metropolitan,4019.0
2,Abbotsford,25 Bloomburg St,2,h,1035000.00,Biggin,2016-02-04,2.5,3067.0,2.0,1.0,0.0,156.0,79.0,1900.0,Yarra,-37.80790,144.99340,Northern Metropolitan,4019.0
3,Abbotsford,18/659 Victoria St,3,u,1026500.00,Rounds,2016-02-04,2.5,3067.0,3.0,2.0,1.0,0.0,NaN,NaN,Yarra,-37.81140,145.01160,Northern Metropolitan,4019.0
4,Abbotsford,5 Charles St,3,h,1465000.00,Biggin,2017-03-04,2.5,3067.0,3.0,2.0,0.0,134.0,150.0,1900.0,Yarra,-37.80930,144.99440,Northern Metropolitan,4019.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23542,Wyndham Vale,25 Clitheroe Dr,3,u,520328.57,Harcourts,2017-08-26,27.2,3024.0,3.0,1.0,0.0,552.0,119.0,1990.0,NaN,-37.90032,144.61839,Western Metropolitan,5262.0
23543,Wyndham Vale,19 Dalrymple Bvd,4,h,520328.57,hockingstuart,2017-08-26,27.2,3024.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-37.87882,144.60184,Western Metropolitan,5262.0
23544,Yallambie,17 Amaroo Wy,4,h,1100000.00,Buckingham,2017-08-26,12.7,3085.0,4.0,3.0,2.0,NaN,NaN,NaN,NaN,-37.72006,145.10547,Northern Metropolitan,1369.0
23545,Yarraville,6 Agnes St,4,h,1285000.00,Village,2017-08-26,6.3,3013.0,4.0,1.0,1.0,362.0,112.0,1920.0,NaN,-37.81188,144.88449,Western Metropolitan,6543.0
23546,Yarraville,33 Freeman St,4,h,1050000.00,Village,2017-08-26,6.3,3013.0,4.0,2.0,2.0,NaN,139.0,1950.0,NaN,-37.81829,144.87404,Western Metropolitan,6543.0

# Figure out a way to replace missing values in bedroom columns and explain the way you used to replace the missing values and reason behind it. You can also select that no imputation possible but if this is this is the case then provide the reason behind it.

In [83]:
df_bed_bath_cars_infer = df2.copy()

In [84]:
df_bed_bath_cars_infer

,Suburb,Address,Rooms,Type,Price,SellerG,Date,Distance,Postcode,Bedroom,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,68 Studley St,2,h,NaN,Jellis,2016-09-03,2.5,3067.0,2.0,1.0,1.0,126.0,NaN,NaN,Yarra,-37.80140,144.99580,Northern Metropolitan,4019.0
1,Abbotsford,85 Turner St,2,h,1480000.0,Biggin,2016-12-03,2.5,3067.0,2.0,1.0,1.0,202.0,NaN,NaN,Yarra,-37.79960,144.99840,Northern Metropolitan,4019.0
2,Abbotsford,25 Bloomburg St,2,h,1035000.0,Biggin,2016-02-04,2.5,3067.0,2.0,1.0,0.0,156.0,79.0,1900.0,Yarra,-37.80790,144.99340,Northern Metropolitan,4019.0
3,Abbotsford,18/659 Victoria St,3,u,NaN,Rounds,2016-02-04,2.5,3067.0,3.0,2.0,1.0,0.0,NaN,NaN,Yarra,-37.81140,145.01160,Northern Metropolitan,4019.0
4,Abbotsford,5 Charles St,3,h,1465000.0,Biggin,2017-03-04,2.5,3067.0,3.0,2.0,0.0,134.0,150.0,1900.0,Yarra,-37.80930,144.99440,Northern Metropolitan,4019.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23542,Wyndham Vale,25 Clitheroe Dr,3,u,NaN,Harcourts,2017-08-26,27.2,3024.0,3.0,1.0,0.0,552.0,119.0,1990.0,NaN,-37.90032,144.61839,Western Metropolitan,5262.0
23543,Wyndham Vale,19 Dalrymple Bvd,4,h,NaN,hockingstuart,2017-08-26,27.2,3024.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-37.87882,144.60184,Western Metropolitan,5262.0
23544,Yallambie,17 Amaroo Wy,4,h,1100000.0,Buckingham,2017-08-26,12.7,3085.0,4.0,3.0,2.0,NaN,NaN,NaN,NaN,-37.72006,145.10547,Northern Metropolitan,1369.0
23545,Yarraville,6 Agnes St,4,h,1285000.0,Village,2017-08-26,6.3,3013.0,4.0,1.0,1.0,362.0,112.0,1920.0,NaN,-37.81188,144.88449,Western Metropolitan,6543.0
23546,Yarraville,33 Freeman St,4,h,1050000.0,Village,2017-08-26,6.3,3013.0,4.0,2.0,2.0,NaN,139.0,1950.0,NaN,-37.81829,144.87404,Western Metropolitan,6543.0

In [85]:
df_bed_bath_cars_infer['Bedroom'] = df_bed_bath_cars_infer['Bedroom'].fillna(df_bed_bath_cars_infer.groupby('Type')['Bedroom'].transform(lambda x: x.mode().iloc[0]))

### df_bed_bath_cars_infer # inferred number of bedrooms by housetype and took its mode because a house type needs a certain set of parameters thus inferring it this way will ensure that the rooms are in the average quartile for the house type. Same is done for cars and bathrooms

In [88]:
df_bed_bath_cars_infer['Bathroom'] = df_bed_bath_cars_infer['Bathroom'].fillna(df_bed_bath_cars_infer.groupby('Type')['Bathroom'].transform(lambda x: x.mode().iloc[0]))

In [89]:
df_bed_bath_cars_infer

,Suburb,Address,Rooms,Type,Price,SellerG,Date,Distance,Postcode,Bedroom,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,68 Studley St,2,h,NaN,Jellis,2016-09-03,2.5,3067.0,2.0,1.0,1.0,126.0,NaN,NaN,Yarra,-37.80140,144.99580,Northern Metropolitan,4019.0
1,Abbotsford,85 Turner St,2,h,1480000.0,Biggin,2016-12-03,2.5,3067.0,2.0,1.0,1.0,202.0,NaN,NaN,Yarra,-37.79960,144.99840,Northern Metropolitan,4019.0
2,Abbotsford,25 Bloomburg St,2,h,1035000.0,Biggin,2016-02-04,2.5,3067.0,2.0,1.0,0.0,156.0,79.0,1900.0,Yarra,-37.80790,144.99340,Northern Metropolitan,4019.0
3,Abbotsford,18/659 Victoria St,3,u,NaN,Rounds,2016-02-04,2.5,3067.0,3.0,2.0,1.0,0.0,NaN,NaN,Yarra,-37.81140,145.01160,Northern Metropolitan,4019.0
4,Abbotsford,5 Charles St,3,h,1465000.0,Biggin,2017-03-04,2.5,3067.0,3.0,2.0,0.0,134.0,150.0,1900.0,Yarra,-37.80930,144.99440,Northern Metropolitan,4019.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23542,Wyndham Vale,25 Clitheroe Dr,3,u,NaN,Harcourts,2017-08-26,27.2,3024.0,3.0,1.0,0.0,552.0,119.0,1990.0,NaN,-37.90032,144.61839,Western Metropolitan,5262.0
23543,Wyndham Vale,19 Dalrymple Bvd,4,h,NaN,hockingstuart,2017-08-26,27.2,3024.0,3.0,1.0,NaN,NaN,NaN,NaN,NaN,-37.87882,144.60184,Western Metropolitan,5262.0
23544,Yallambie,17 Amaroo Wy,4,h,1100000.0,Buckingham,2017-08-26,12.7,3085.0,4.0,3.0,2.0,NaN,NaN,NaN,NaN,-37.72006,145.10547,Northern Metropolitan,1369.0
23545,Yarraville,6 Agnes St,4,h,1285000.0,Village,2017-08-26,6.3,3013.0,4.0,1.0,1.0,362.0,112.0,1920.0,NaN,-37.81188,144.88449,Western Metropolitan,6543.0
23546,Yarraville,33 Freeman St,4,h,1050000.0,Village,2017-08-26,6.3,3013.0,4.0,2.0,2.0,NaN,139.0,1950.0,NaN,-37.81829,144.87404,Western Metropolitan,6543.0

In [90]:
df_bed_bath_cars_infer['Car'] = df_bed_bath_cars_infer['Car'].fillna(df_bed_bath_cars_infer.groupby('Type')['Car'].transform(lambda x: x.mode().iloc[0]))

In [105]:
df_bed_bath_cars_infer.head(30)

,Suburb,Address,Rooms,Type,Price,SellerG,Date,Distance,Postcode,Bedroom,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,68 Studley St,2,h,NaN,Jellis,2016-09-03,2.5,3067.0,2.0,1.0,1.0,126.0,NaN,NaN,Yarra,-37.8014,144.9958,Northern Metropolitan,4019.0
1,Abbotsford,85 Turner St,2,h,1480000.0,Biggin,2016-12-03,2.5,3067.0,2.0,1.0,1.0,202.0,NaN,NaN,Yarra,-37.7996,144.9984,Northern Metropolitan,4019.0
2,Abbotsford,25 Bloomburg St,2,h,1035000.0,Biggin,2016-02-04,2.5,3067.0,2.0,1.0,0.0,156.0,79.0,1900.0,Yarra,-37.8079,144.9934,Northern Metropolitan,4019.0
3,Abbotsford,18/659 Victoria St,3,u,NaN,Rounds,2016-02-04,2.5,3067.0,3.0,2.0,1.0,0.0,NaN,NaN,Yarra,-37.8114,145.0116,Northern Metropolitan,4019.0
4,Abbotsford,5 Charles St,3,h,1465000.0,Biggin,2017-03-04,2.5,3067.0,3.0,2.0,0.0,134.0,150.0,1900.0,Yarra,-37.8093,144.9944,Northern Metropolitan,4019.0
5,Abbotsford,40 Federation La,3,h,850000.0,Biggin,2017-03-04,2.5,3067.0,3.0,2.0,1.0,94.0,NaN,NaN,Yarra,-37.7969,144.9969,Northern Metropolitan,4019.0
6,Abbotsford,55a Park St,4,h,1600000.0,Nelson,2016-06-04,2.5,3067.0,3.0,1.0,2.0,120.0,142.0,2014.0,Yarra,-37.8072,144.9941,Northern Metropolitan,4019.0
7,Abbotsford,16 Maugie St,4,h,NaN,Nelson,2016-08-06,2.5,3067.0,3.0,2.0,2.0,400.0,220.0,2006.0,Yarra,-37.7965,144.9965,Northern Metropolitan,4019.0
8,Abbotsford,53 Turner St,2,h,NaN,Biggin,2016-08-06,2.5,3067.0,4.0,1.0,2.0,201.0,NaN,1900.0,Yarra,-37.7995,144.9974,Northern Metropolitan,4019.0
9,Abbotsford,99 Turner St,2,h,NaN,Collins,2016-08-06,2.5,3067.0,3.0,2.0,1.0,202.0,NaN,1900.0,Yarra,-37.7996,144.9989,Northern Metropolitan,4019.0
10,Abbotsford,129 Charles St,2,h,941000.0,Jellis,2016-05-07,2.5,3067.0,2.0,1.0,0.0,181.0,NaN,NaN,Yarra,-37.8041,144.9953,Northern Metropolitan,4019.0
11,Abbotsford,124 Yarra St,3,h,1876000.0,Nelson,2016-05-07,2.5,3067.0,4.0,2.0,0.0,245.0,210.0,1910.0,Yarra,-37.8024,144.9993,Northern Metropolitan,4019.0
12,Abbotsford,121/56 Nicholson St,2,u,NaN,Biggin,2016-11-07,2.5,3067.0,2.0,2.0,1.0,4292.0,82.0,2009.0,Yarra,-37.8078,144.9965,Northern Metropolitan,4019.0
13,Abbotsford,17 Raphael St,4,h,NaN,Biggin,2016-11-07,2.5,3067.0,6.0,2.0,0.0,230.0,147.0,1860.0,Yarra,-37.8066,144.9936,Northern Metropolitan,4019.0
14,Abbotsford,98 Charles St,2,h,1636000.0,Nelson,2016-10-08,2.5,3067.0,2.0,1.0,2.0,256.0,107.0,1890.0,Yarra,-37.8060,144.9954,Northern Metropolitan,4019.0
15,Abbotsford,217 Langridge St,3,h,1000000.0,Jellis,2016-10-08,2.5,3067.0,3.0,1.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,Northern Metropolitan,4019.0
16,Abbotsford,18a Mollison St,2,t,745000.0,Jellis,2016-10-08,2.5,3067.0,3.0,2.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,Northern Metropolitan,4019.0
17,Abbotsford,6/241 Nicholson St,1,u,300000.0,Biggin,2016-10-08,2.5,3067.0,1.0,1.0,1.0,0.0,NaN,NaN,Yarra,-37.8008,144.9973,Northern Metropolitan,4019.0
18,Abbotsford,10 Valiant St,2,h,1097000.0,Biggin,2016-10-08,2.5,3067.0,3.0,1.0,2.0,220.0,75.0,1900.0,Yarra,-37.8010,144.9989,Northern Metropolitan,4019.0
19,Abbotsford,403/609 Victoria St,2,u,542000.0,Dingle,2016-10-08,2.5,3067.0,2.0,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,Northern Metropolitan,4019.0
20,Abbotsford,2 Rich St,2,h,NaN,Biggin,2016-12-10,2.5,3067.0,2.0,1.0,1.0,176.0,80.0,1925.0,Yarra,-37.7998,144.9972,Northern Metropolitan,4019.0
21,Abbotsford,25/84 Trenerry Cr,2,u,760000.0,Biggin,2016-12-10,2.5,3067.0,2.0,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,Northern Metropolitan,4019.0
22,Abbotsford,106/119 Turner St,1,u,481000.0,Purplebricks,2016-12-10,2.5,3067.0,2.0,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,Northern Metropolitan,4019.0
23,Abbotsford,411/8 Grosvenor St,2,u,700000.0,Jellis,2016-11-12,2.5,3067.0,2.0,2.0,1.0,0.0,NaN,NaN,Yarra,-37.8110,145.0067,Northern Metropolitan,4019.0
24,Abbotsford,40 Nicholson St,3,h,1350000.0,Nelson,2016-11-12,2.5,3067.0,3.0,2.0,2.0,214.0,190.0,2005.0,Yarra,-37.8085,144.9964,Northern Metropolitan,4019.0
25,Abbotsford,123/56 Nicholson St,2,u,750000.0,Biggin,2016-11-12,2.5,3067.0,2.0,2.0,1.0,0.0,94.0,2009.0,Yarra,-37.8078,144.9965,Northern Metropolitan,4019.0
26,Abbotsford,22 Park St,4,h,1985000.0,Biggin,2016-11-12,2.5,3067.0,3.0,1.0,2.0,NaN,NaN,NaN,NaN,-37.8084,144.9942,Northern Metropolitan,4019.0
27,Abbotsford,13/84 Trenerry Cr,1,u,500000.0,Biggin,2016-11-12,2.5,3067.0,2.0,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,Northern Metropolitan,4019.0
28,Abbotsford,45 William St,2,h,1172500.0,Biggin,2016-08-13,2.5,3067.0,2.0,1.0,1.0,195.0,NaN,NaN,Yarra,-37.8084,144.9973,Northern Metropolitan,4019.0
29,Abbotsford,7/20 Abbotsford St,1,u,441000.0,Greg,2016-05-14,2.5,3067.0,1.0,1.0,1.0,0.0,NaN,NaN,Yarra,-37.8016,144.9988,Northern Metropolitan,4019.0

# Figure out a way to replace missing values in landsize columns and explain the way you used to replace the missing values and reason behind it. You can also select that no imputation possible but if this is this is the case then provide the reason behind it.

In [106]:
df_lansize_infer = df_bed_bath_cars_infer.copy()

In [107]:
df_lansize_infer

,Suburb,Address,Rooms,Type,Price,SellerG,Date,Distance,Postcode,Bedroom,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,68 Studley St,2,h,NaN,Jellis,2016-09-03,2.5,3067.0,2.0,1.0,1.0,126.0,NaN,NaN,Yarra,-37.80140,144.99580,Northern Metropolitan,4019.0
1,Abbotsford,85 Turner St,2,h,1480000.0,Biggin,2016-12-03,2.5,3067.0,2.0,1.0,1.0,202.0,NaN,NaN,Yarra,-37.79960,144.99840,Northern Metropolitan,4019.0
2,Abbotsford,25 Bloomburg St,2,h,1035000.0,Biggin,2016-02-04,2.5,3067.0,2.0,1.0,0.0,156.0,79.0,1900.0,Yarra,-37.80790,144.99340,Northern Metropolitan,4019.0
3,Abbotsford,18/659 Victoria St,3,u,NaN,Rounds,2016-02-04,2.5,3067.0,3.0,2.0,1.0,0.0,NaN,NaN,Yarra,-37.81140,145.01160,Northern Metropolitan,4019.0
4,Abbotsford,5 Charles St,3,h,1465000.0,Biggin,2017-03-04,2.5,3067.0,3.0,2.0,0.0,134.0,150.0,1900.0,Yarra,-37.80930,144.99440,Northern Metropolitan,4019.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23542,Wyndham Vale,25 Clitheroe Dr,3,u,NaN,Harcourts,2017-08-26,27.2,3024.0,3.0,1.0,0.0,552.0,119.0,1990.0,NaN,-37.90032,144.61839,Western Metropolitan,5262.0
23543,Wyndham Vale,19 Dalrymple Bvd,4,h,NaN,hockingstuart,2017-08-26,27.2,3024.0,3.0,1.0,2.0,NaN,NaN,NaN,NaN,-37.87882,144.60184,Western Metropolitan,5262.0
23544,Yallambie,17 Amaroo Wy,4,h,1100000.0,Buckingham,2017-08-26,12.7,3085.0,4.0,3.0,2.0,NaN,NaN,NaN,NaN,-37.72006,145.10547,Northern Metropolitan,1369.0
23545,Yarraville,6 Agnes St,4,h,1285000.0,Village,2017-08-26,6.3,3013.0,4.0,1.0,1.0,362.0,112.0,1920.0,NaN,-37.81188,144.88449,Western Metropolitan,6543.0
23546,Yarraville,33 Freeman St,4,h,1050000.0,Village,2017-08-26,6.3,3013.0,4.0,2.0,2.0,NaN,139.0,1950.0,NaN,-37.81829,144.87404,Western Metropolitan,6543.0

# Took the average land area value according to the suburb as the house overall size can be the same in same suburb and Type of the House

In [108]:
df_lansize_infer['Landsize'] = df_lansize_infer['Landsize'].fillna(df_lansize_infer.groupby(['Suburb','Type'])['Landsize'].transform('mean'))

In [109]:
df_lansize_infer.head(30)

,Suburb,Address,Rooms,Type,Price,SellerG,Date,Distance,Postcode,Bedroom,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,68 Studley St,2,h,NaN,Jellis,2016-09-03,2.5,3067.0,2.0,1.0,1.0,126.000000,NaN,NaN,Yarra,-37.8014,144.9958,Northern Metropolitan,4019.0
1,Abbotsford,85 Turner St,2,h,1480000.0,Biggin,2016-12-03,2.5,3067.0,2.0,1.0,1.0,202.000000,NaN,NaN,Yarra,-37.7996,144.9984,Northern Metropolitan,4019.0
2,Abbotsford,25 Bloomburg St,2,h,1035000.0,Biggin,2016-02-04,2.5,3067.0,2.0,1.0,0.0,156.000000,79.0,1900.0,Yarra,-37.8079,144.9934,Northern Metropolitan,4019.0
3,Abbotsford,18/659 Victoria St,3,u,NaN,Rounds,2016-02-04,2.5,3067.0,3.0,2.0,1.0,0.000000,NaN,NaN,Yarra,-37.8114,145.0116,Northern Metropolitan,4019.0
4,Abbotsford,5 Charles St,3,h,1465000.0,Biggin,2017-03-04,2.5,3067.0,3.0,2.0,0.0,134.000000,150.0,1900.0,Yarra,-37.8093,144.9944,Northern Metropolitan,4019.0
5,Abbotsford,40 Federation La,3,h,850000.0,Biggin,2017-03-04,2.5,3067.0,3.0,2.0,1.0,94.000000,NaN,NaN,Yarra,-37.7969,144.9969,Northern Metropolitan,4019.0
6,Abbotsford,55a Park St,4,h,1600000.0,Nelson,2016-06-04,2.5,3067.0,3.0,1.0,2.0,120.000000,142.0,2014.0,Yarra,-37.8072,144.9941,Northern Metropolitan,4019.0
7,Abbotsford,16 Maugie St,4,h,NaN,Nelson,2016-08-06,2.5,3067.0,3.0,2.0,2.0,400.000000,220.0,2006.0,Yarra,-37.7965,144.9965,Northern Metropolitan,4019.0
8,Abbotsford,53 Turner St,2,h,NaN,Biggin,2016-08-06,2.5,3067.0,4.0,1.0,2.0,201.000000,NaN,1900.0,Yarra,-37.7995,144.9974,Northern Metropolitan,4019.0
9,Abbotsford,99 Turner St,2,h,NaN,Collins,2016-08-06,2.5,3067.0,3.0,2.0,1.0,202.000000,NaN,1900.0,Yarra,-37.7996,144.9989,Northern Metropolitan,4019.0
10,Abbotsford,129 Charles St,2,h,941000.0,Jellis,2016-05-07,2.5,3067.0,2.0,1.0,0.0,181.000000,NaN,NaN,Yarra,-37.8041,144.9953,Northern Metropolitan,4019.0
11,Abbotsford,124 Yarra St,3,h,1876000.0,Nelson,2016-05-07,2.5,3067.0,4.0,2.0,0.0,245.000000,210.0,1910.0,Yarra,-37.8024,144.9993,Northern Metropolitan,4019.0
12,Abbotsford,121/56 Nicholson St,2,u,NaN,Biggin,2016-11-07,2.5,3067.0,2.0,2.0,1.0,4292.000000,82.0,2009.0,Yarra,-37.8078,144.9965,Northern Metropolitan,4019.0
13,Abbotsford,17 Raphael St,4,h,NaN,Biggin,2016-11-07,2.5,3067.0,6.0,2.0,0.0,230.000000,147.0,1860.0,Yarra,-37.8066,144.9936,Northern Metropolitan,4019.0
14,Abbotsford,98 Charles St,2,h,1636000.0,Nelson,2016-10-08,2.5,3067.0,2.0,1.0,2.0,256.000000,107.0,1890.0,Yarra,-37.8060,144.9954,Northern Metropolitan,4019.0
15,Abbotsford,217 Langridge St,3,h,1000000.0,Jellis,2016-10-08,2.5,3067.0,3.0,1.0,2.0,195.607843,NaN,NaN,NaN,NaN,NaN,Northern Metropolitan,4019.0
16,Abbotsford,18a Mollison St,2,t,745000.0,Jellis,2016-10-08,2.5,3067.0,3.0,2.0,2.0,51.000000,NaN,NaN,NaN,NaN,NaN,Northern Metropolitan,4019.0
17,Abbotsford,6/241 Nicholson St,1,u,300000.0,Biggin,2016-10-08,2.5,3067.0,1.0,1.0,1.0,0.000000,NaN,NaN,Yarra,-37.8008,144.9973,Northern Metropolitan,4019.0
18,Abbotsford,10 Valiant St,2,h,1097000.0,Biggin,2016-10-08,2.5,3067.0,3.0,1.0,2.0,220.000000,75.0,1900.0,Yarra,-37.8010,144.9989,Northern Metropolitan,4019.0
19,Abbotsford,403/609 Victoria St,2,u,542000.0,Dingle,2016-10-08,2.5,3067.0,2.0,1.0,1.0,769.588235,NaN,NaN,NaN,NaN,NaN,Northern Metropolitan,4019.0
20,Abbotsford,2 Rich St,2,h,NaN,Biggin,2016-12-10,2.5,3067.0,2.0,1.0,1.0,176.000000,80.0,1925.0,Yarra,-37.7998,144.9972,Northern Metropolitan,4019.0
21,Abbotsford,25/84 Trenerry Cr,2,u,760000.0,Biggin,2016-12-10,2.5,3067.0,2.0,1.0,1.0,769.588235,NaN,NaN,NaN,NaN,NaN,Northern Metropolitan,4019.0
22,Abbotsford,106/119 Turner St,1,u,481000.0,Purplebricks,2016-12-10,2.5,3067.0,2.0,1.0,1.0,769.588235,NaN,NaN,NaN,NaN,NaN,Northern Metropolitan,4019.0
23,Abbotsford,411/8 Grosvenor St,2,u,700000.0,Jellis,2016-11-12,2.5,3067.0,2.0,2.0,1.0,0.000000,NaN,NaN,Yarra,-37.8110,145.0067,Northern Metropolitan,4019.0
24,Abbotsford,40 Nicholson St,3,h,1350000.0,Nelson,2016-11-12,2.5,3067.0,3.0,2.0,2.0,214.000000,190.0,2005.0,Yarra,-37.8085,144.9964,Northern Metropolitan,4019.0
25,Abbotsford,123/56 Nicholson St,2,u,750000.0,Biggin,2016-11-12,2.5,3067.0,2.0,2.0,1.0,0.000000,94.0,2009.0,Yarra,-37.8078,144.9965,Northern Metropolitan,4019.0
26,Abbotsford,22 Park St,4,h,1985000.0,Biggin,2016-11-12,2.5,3067.0,3.0,1.0,2.0,195.607843,NaN,NaN,NaN,-37.8084,144.9942,Northern Metropolitan,4019.0
27,Abbotsford,13/84 Trenerry Cr,1,u,500000.0,Biggin,2016-11-12,2.5,3067.0,2.0,1.0,1.0,769.588235,NaN,NaN,NaN,NaN,NaN,Northern Metropolitan,4019.0
28,Abbotsford,45 William St,2,h,1172500.0,Biggin,2016-08-13,2.5,3067.0,2.0,1.0,1.0,195.000000,NaN,NaN,Yarra,-37.8084,144.9973,Northern Metropolitan,4019.0
29,Abbotsford,7/20 Abbotsford St,1,u,441000.0,Greg,2016-05-14,2.5,3067.0,1.0,1.0,1.0,0.000000,NaN,NaN,Yarra,-37.8016,144.9988,Northern Metropolitan,4019.0

# Figure out a way to replace missing values in building area columns and explain the way you used to replace the missing values and reason behind it. You can also select that no imputation possible but if this is this is the case then provide the reason behind it.

In [110]:
df_Build_Area_infer = df_lansize_infer.copy()

In [179]:
df_Build_Area_infer['BuildingArea'] = df_Build_Area_infer['BuildingArea'].fillna(df_Build_Area_infer.groupby(['Suburb','Type'])['BuildingArea'].transform('mean'))
# Same reason for usage as in landsize

In [180]:
df_Build_Area_infer

,Suburb,Address,Rooms,Type,Price,SellerG,Date,Distance,Postcode,Bedroom,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,68 Studley St,2,h,NaN,Jellis,2016-09-03,2.5,3067.0,2.0,1.0,1.0,126.000000,119.351351,NaN,Yarra,-37.80140,144.99580,Northern Metropolitan,4019.0
1,Abbotsford,85 Turner St,2,h,1480000.0,Biggin,2016-12-03,2.5,3067.0,2.0,1.0,1.0,202.000000,119.351351,NaN,Yarra,-37.79960,144.99840,Northern Metropolitan,4019.0
2,Abbotsford,25 Bloomburg St,2,h,1035000.0,Biggin,2016-02-04,2.5,3067.0,2.0,1.0,0.0,156.000000,79.000000,1900.0,Yarra,-37.80790,144.99340,Northern Metropolitan,4019.0
3,Abbotsford,18/659 Victoria St,3,u,NaN,Rounds,2016-02-04,2.5,3067.0,3.0,2.0,1.0,0.000000,66.583333,NaN,Yarra,-37.81140,145.01160,Northern Metropolitan,4019.0
4,Abbotsford,5 Charles St,3,h,1465000.0,Biggin,2017-03-04,2.5,3067.0,3.0,2.0,0.0,134.000000,150.000000,1900.0,Yarra,-37.80930,144.99440,Northern Metropolitan,4019.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23542,Wyndham Vale,25 Clitheroe Dr,3,u,NaN,Harcourts,2017-08-26,27.2,3024.0,3.0,1.0,0.0,552.000000,119.000000,1990.0,NaN,-37.90032,144.61839,Western Metropolitan,5262.0
23543,Wyndham Vale,19 Dalrymple Bvd,4,h,NaN,hockingstuart,2017-08-26,27.2,3024.0,3.0,1.0,2.0,535.363636,148.837778,NaN,NaN,-37.87882,144.60184,Western Metropolitan,5262.0
23544,Yallambie,17 Amaroo Wy,4,h,1100000.0,Buckingham,2017-08-26,12.7,3085.0,4.0,3.0,2.0,596.777778,173.023529,NaN,NaN,-37.72006,145.10547,Northern Metropolitan,1369.0
23545,Yarraville,6 Agnes St,4,h,1285000.0,Village,2017-08-26,6.3,3013.0,4.0,1.0,1.0,362.000000,112.000000,1920.0,NaN,-37.81188,144.88449,Western Metropolitan,6543.0
23546,Yarraville,33 Freeman St,4,h,1050000.0,Village,2017-08-26,6.3,3013.0,4.0,2.0,2.0,346.339080,139.000000,1950.0,NaN,-37.81829,144.87404,Western Metropolitan,6543.0

In [138]:
df_councilarea_infer = df_Build_Area_infer.copy()

In [142]:
df_councilarea_infer['CouncilArea'] = df_councilarea_infer['CouncilArea'].fillna(df_councilarea_infer.groupby('Suburb')['CouncilArea'].transform(lambda x: pd.Series.mode(x)))

In [143]:
df_councilarea_infer

,Suburb,Address,Rooms,Type,Price,SellerG,Date,Distance,Postcode,Bedroom,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,68 Studley St,2,h,NaN,Jellis,2016-09-03,2.5,3067.0,2.0,1.0,1.0,126.000000,NaN,NaN,Yarra,-37.80140,144.99580,Northern Metropolitan,4019.0
1,Abbotsford,85 Turner St,2,h,1480000.0,Biggin,2016-12-03,2.5,3067.0,2.0,1.0,1.0,202.000000,NaN,NaN,Yarra,-37.79960,144.99840,Northern Metropolitan,4019.0
2,Abbotsford,25 Bloomburg St,2,h,1035000.0,Biggin,2016-02-04,2.5,3067.0,2.0,1.0,0.0,156.000000,79.0,1900.0,Yarra,-37.80790,144.99340,Northern Metropolitan,4019.0
3,Abbotsford,18/659 Victoria St,3,u,NaN,Rounds,2016-02-04,2.5,3067.0,3.0,2.0,1.0,0.000000,NaN,NaN,Yarra,-37.81140,145.01160,Northern Metropolitan,4019.0
4,Abbotsford,5 Charles St,3,h,1465000.0,Biggin,2017-03-04,2.5,3067.0,3.0,2.0,0.0,134.000000,150.0,1900.0,Yarra,-37.80930,144.99440,Northern Metropolitan,4019.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23542,Wyndham Vale,25 Clitheroe Dr,3,u,NaN,Harcourts,2017-08-26,27.2,3024.0,3.0,1.0,0.0,552.000000,119.0,1990.0,NaN,-37.90032,144.61839,Western Metropolitan,5262.0
23543,Wyndham Vale,19 Dalrymple Bvd,4,h,NaN,hockingstuart,2017-08-26,27.2,3024.0,3.0,1.0,2.0,535.363636,NaN,NaN,NaN,-37.87882,144.60184,Western Metropolitan,5262.0
23544,Yallambie,17 Amaroo Wy,4,h,1100000.0,Buckingham,2017-08-26,12.7,3085.0,4.0,3.0,2.0,596.777778,NaN,NaN,NaN,-37.72006,145.10547,Northern Metropolitan,1369.0
23545,Yarraville,6 Agnes St,4,h,1285000.0,Village,2017-08-26,6.3,3013.0,4.0,1.0,1.0,362.000000,112.0,1920.0,NaN,-37.81188,144.88449,Western Metropolitan,6543.0
23546,Yarraville,33 Freeman St,4,h,1050000.0,Village,2017-08-26,6.3,3013.0,4.0,2.0,2.0,346.339080,139.0,1950.0,NaN,-37.81829,144.87404,Western Metropolitan,6543.0

# Fill out the missing values in the councilarea column using suburb column

In [175]:
f = lambda x: x.fillna(x.mode().iat[0]) if x.notna().any() else x
df_councilarea_infer['CouncilArea'] = df_councilarea_infer.groupby('Suburb')['CouncilArea'].apply(f)

In [176]:
df_councilarea_infer

,Suburb,Address,Rooms,Type,Price,SellerG,Date,Distance,Postcode,Bedroom,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,68 Studley St,2,h,NaN,Jellis,2016-09-03,2.5,3067.0,2.0,1.0,1.0,126.000000,NaN,NaN,Yarra,-37.80140,144.99580,Northern Metropolitan,4019.0
1,Abbotsford,85 Turner St,2,h,1480000.0,Biggin,2016-12-03,2.5,3067.0,2.0,1.0,1.0,202.000000,NaN,NaN,Yarra,-37.79960,144.99840,Northern Metropolitan,4019.0
2,Abbotsford,25 Bloomburg St,2,h,1035000.0,Biggin,2016-02-04,2.5,3067.0,2.0,1.0,0.0,156.000000,79.0,1900.0,Yarra,-37.80790,144.99340,Northern Metropolitan,4019.0
3,Abbotsford,18/659 Victoria St,3,u,NaN,Rounds,2016-02-04,2.5,3067.0,3.0,2.0,1.0,0.000000,NaN,NaN,Yarra,-37.81140,145.01160,Northern Metropolitan,4019.0
4,Abbotsford,5 Charles St,3,h,1465000.0,Biggin,2017-03-04,2.5,3067.0,3.0,2.0,0.0,134.000000,150.0,1900.0,Yarra,-37.80930,144.99440,Northern Metropolitan,4019.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23542,Wyndham Vale,25 Clitheroe Dr,3,u,NaN,Harcourts,2017-08-26,27.2,3024.0,3.0,1.0,0.0,552.000000,119.0,1990.0,Wyndham,-37.90032,144.61839,Western Metropolitan,5262.0
23543,Wyndham Vale,19 Dalrymple Bvd,4,h,NaN,hockingstuart,2017-08-26,27.2,3024.0,3.0,1.0,2.0,535.363636,NaN,NaN,Wyndham,-37.87882,144.60184,Western Metropolitan,5262.0
23544,Yallambie,17 Amaroo Wy,4,h,1100000.0,Buckingham,2017-08-26,12.7,3085.0,4.0,3.0,2.0,596.777778,NaN,NaN,Banyule,-37.72006,145.10547,Northern Metropolitan,1369.0
23545,Yarraville,6 Agnes St,4,h,1285000.0,Village,2017-08-26,6.3,3013.0,4.0,1.0,1.0,362.000000,112.0,1920.0,Maribyrnong,-37.81188,144.88449,Western Metropolitan,6543.0
23546,Yarraville,33 Freeman St,4,h,1050000.0,Village,2017-08-26,6.3,3013.0,4.0,2.0,2.0,346.339080,139.0,1950.0,Maribyrnong,-37.81829,144.87404,Western Metropolitan,6543.0

# Find out the outliers in the pricing column and replace it with the standard approach

In [202]:
# adding everything done above to one df

df_final = df.copy()
df_final['CouncilArea'] = df_councilarea_infer['CouncilArea']
df_final['BuildingArea'] = df_Build_Area_infer['BuildingArea']
df_final['Landsize'] = df_lansize_infer['Landsize'] 
df_final['Price'] =df_avg_val['Price']
df_final['Car'] = df_bed_bath_cars_infer['Car']
df_final['Bathroom'] = df_bed_bath_cars_infer['Bathroom']
df_final['Bedroom'] = df_bed_bath_cars_infer['Bedroom']

In [203]:
df_final

,Suburb,Address,Rooms,Type,Price,SellerG,Date,Distance,Postcode,Bedroom,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,68 Studley St,2,h,1026500.00,Jellis,2016-09-03,2.5,3067.0,2.0,1.0,1.0,126.000000,119.351351,NaN,Yarra,-37.80140,144.99580,Northern Metropolitan,4019.0
1,Abbotsford,85 Turner St,2,h,1480000.00,Biggin,2016-12-03,2.5,3067.0,2.0,1.0,1.0,202.000000,119.351351,NaN,Yarra,-37.79960,144.99840,Northern Metropolitan,4019.0
2,Abbotsford,25 Bloomburg St,2,h,1035000.00,Biggin,2016-02-04,2.5,3067.0,2.0,1.0,0.0,156.000000,79.000000,1900.0,Yarra,-37.80790,144.99340,Northern Metropolitan,4019.0
3,Abbotsford,18/659 Victoria St,3,u,1026500.00,Rounds,2016-02-04,2.5,3067.0,3.0,2.0,1.0,0.000000,66.583333,NaN,Yarra,-37.81140,145.01160,Northern Metropolitan,4019.0
4,Abbotsford,5 Charles St,3,h,1465000.00,Biggin,2017-03-04,2.5,3067.0,3.0,2.0,0.0,134.000000,150.000000,1900.0,Yarra,-37.80930,144.99440,Northern Metropolitan,4019.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23542,Wyndham Vale,25 Clitheroe Dr,3,u,520328.57,Harcourts,2017-08-26,27.2,3024.0,3.0,1.0,0.0,552.000000,119.000000,1990.0,Wyndham,-37.90032,144.61839,Western Metropolitan,5262.0
23543,Wyndham Vale,19 Dalrymple Bvd,4,h,520328.57,hockingstuart,2017-08-26,27.2,3024.0,3.0,1.0,2.0,535.363636,148.837778,NaN,Wyndham,-37.87882,144.60184,Western Metropolitan,5262.0
23544,Yallambie,17 Amaroo Wy,4,h,1100000.00,Buckingham,2017-08-26,12.7,3085.0,4.0,3.0,2.0,596.777778,173.023529,NaN,Banyule,-37.72006,145.10547,Northern Metropolitan,1369.0
23545,Yarraville,6 Agnes St,4,h,1285000.00,Village,2017-08-26,6.3,3013.0,4.0,1.0,1.0,362.000000,112.000000,1920.0,Maribyrnong,-37.81188,144.88449,Western Metropolitan,6543.0
23546,Yarraville,33 Freeman St,4,h,1050000.00,Village,2017-08-26,6.3,3013.0,4.0,2.0,2.0,346.339080,139.000000,1950.0,Maribyrnong,-37.81829,144.87404,Western Metropolitan,6543.0

In [204]:
twenth_fifth_percentile = df_final['Price'].quantile(0.25)
sventy_fifth_percentile = df_final['Price'].quantile(0.75)

In [205]:
rec_less_than_25_percentile = len(df_final[df_final['Price'] < twenth_fifth_percentile])
rec_grt_than_75_percentile = len(df_final[df_final['Price'] > sventy_fifth_percentile])

In [206]:
df_final.loc[df_final['Price'] < twenth_fifth_percentile,'Price'] = twenth_fifth_percentile
df_final.loc[df_final['Price'] > sventy_fifth_percentile,'Price'] = sventy_fifth_percentile

In [207]:
rec_less_than_25_percentile

5810

In [208]:
rec_grt_than_75_percentile

5868

# Find out the outliers in the landsize column and replace it with the standard approach

In [209]:
twenth_fifth_percentile = df_final['Landsize'].quantile(0.25)
sventy_fifth_percentile = df_final['Landsize'].quantile(0.75)

rec_less_than_25_percentile = len(df_final[df_final['Price'] < twenth_fifth_percentile])
rec_grt_than_75_percentile = len(df_final[df_final['Price'] > sventy_fifth_percentile])

In [210]:
df_final.loc[df_final['Landsize'] < twenth_fifth_percentile,'Landsize'] = twenth_fifth_percentile
df_final.loc[df_final['Landsize'] > sventy_fifth_percentile,'Landsize'] = sventy_fifth_percentile

In [211]:
df_final

,Suburb,Address,Rooms,Type,Price,SellerG,Date,Distance,Postcode,Bedroom,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,68 Studley St,2,h,1026500.0,Jellis,2016-09-03,2.5,3067.0,2.0,1.0,1.0,206.000000,119.351351,NaN,Yarra,-37.80140,144.99580,Northern Metropolitan,4019.0
1,Abbotsford,85 Turner St,2,h,1335000.0,Biggin,2016-12-03,2.5,3067.0,2.0,1.0,1.0,206.000000,119.351351,NaN,Yarra,-37.79960,144.99840,Northern Metropolitan,4019.0
2,Abbotsford,25 Bloomburg St,2,h,1035000.0,Biggin,2016-02-04,2.5,3067.0,2.0,1.0,0.0,206.000000,79.000000,1900.0,Yarra,-37.80790,144.99340,Northern Metropolitan,4019.0
3,Abbotsford,18/659 Victoria St,3,u,1026500.0,Rounds,2016-02-04,2.5,3067.0,3.0,2.0,1.0,206.000000,66.583333,NaN,Yarra,-37.81140,145.01160,Northern Metropolitan,4019.0
4,Abbotsford,5 Charles St,3,h,1335000.0,Biggin,2017-03-04,2.5,3067.0,3.0,2.0,0.0,206.000000,150.000000,1900.0,Yarra,-37.80930,144.99440,Northern Metropolitan,4019.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23542,Wyndham Vale,25 Clitheroe Dr,3,u,670000.0,Harcourts,2017-08-26,27.2,3024.0,3.0,1.0,0.0,552.000000,119.000000,1990.0,Wyndham,-37.90032,144.61839,Western Metropolitan,5262.0
23543,Wyndham Vale,19 Dalrymple Bvd,4,h,670000.0,hockingstuart,2017-08-26,27.2,3024.0,3.0,1.0,2.0,535.363636,148.837778,NaN,Wyndham,-37.87882,144.60184,Western Metropolitan,5262.0
23544,Yallambie,17 Amaroo Wy,4,h,1100000.0,Buckingham,2017-08-26,12.7,3085.0,4.0,3.0,2.0,596.777778,173.023529,NaN,Banyule,-37.72006,145.10547,Northern Metropolitan,1369.0
23545,Yarraville,6 Agnes St,4,h,1285000.0,Village,2017-08-26,6.3,3013.0,4.0,1.0,1.0,362.000000,112.000000,1920.0,Maribyrnong,-37.81188,144.88449,Western Metropolitan,6543.0
23546,Yarraville,33 Freeman St,4,h,1050000.0,Village,2017-08-26,6.3,3013.0,4.0,2.0,2.0,346.339080,139.000000,1950.0,Maribyrnong,-37.81829,144.87404,Western Metropolitan,6543.0

# Find out the outliers in the building area column and replace it with the standard approach

In [212]:
twenth_fifth_percentile = df_final['BuildingArea'].quantile(0.25)
sventy_fifth_percentile = df_final['BuildingArea'].quantile(0.75)

rec_less_than_25_percentile = len(df_final[df_final['BuildingArea'] < twenth_fifth_percentile])
rec_grt_than_75_percentile = len(df_final[df_final['BuildingArea'] > sventy_fifth_percentile])

In [213]:
df_final.loc[df_final['BuildingArea'] < twenth_fifth_percentile,'BuildingArea'] = twenth_fifth_percentile
df_final.loc[df_final['BuildingArea'] > sventy_fifth_percentile,'BuildingArea'] = sventy_fifth_percentile

In [214]:
df_final

,Suburb,Address,Rooms,Type,Price,SellerG,Date,Distance,Postcode,Bedroom,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,68 Studley St,2,h,1026500.0,Jellis,2016-09-03,2.5,3067.0,2.0,1.0,1.0,206.000000,119.351351,NaN,Yarra,-37.80140,144.99580,Northern Metropolitan,4019.0
1,Abbotsford,85 Turner St,2,h,1335000.0,Biggin,2016-12-03,2.5,3067.0,2.0,1.0,1.0,206.000000,119.351351,NaN,Yarra,-37.79960,144.99840,Northern Metropolitan,4019.0
2,Abbotsford,25 Bloomburg St,2,h,1035000.0,Biggin,2016-02-04,2.5,3067.0,2.0,1.0,0.0,206.000000,100.647059,1900.0,Yarra,-37.80790,144.99340,Northern Metropolitan,4019.0
3,Abbotsford,18/659 Victoria St,3,u,1026500.0,Rounds,2016-02-04,2.5,3067.0,3.0,2.0,1.0,206.000000,100.647059,NaN,Yarra,-37.81140,145.01160,Northern Metropolitan,4019.0
4,Abbotsford,5 Charles St,3,h,1335000.0,Biggin,2017-03-04,2.5,3067.0,3.0,2.0,0.0,206.000000,150.000000,1900.0,Yarra,-37.80930,144.99440,Northern Metropolitan,4019.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23542,Wyndham Vale,25 Clitheroe Dr,3,u,670000.0,Harcourts,2017-08-26,27.2,3024.0,3.0,1.0,0.0,552.000000,119.000000,1990.0,Wyndham,-37.90032,144.61839,Western Metropolitan,5262.0
23543,Wyndham Vale,19 Dalrymple Bvd,4,h,670000.0,hockingstuart,2017-08-26,27.2,3024.0,3.0,1.0,2.0,535.363636,148.837778,NaN,Wyndham,-37.87882,144.60184,Western Metropolitan,5262.0
23544,Yallambie,17 Amaroo Wy,4,h,1100000.0,Buckingham,2017-08-26,12.7,3085.0,4.0,3.0,2.0,596.777778,173.023529,NaN,Banyule,-37.72006,145.10547,Northern Metropolitan,1369.0
23545,Yarraville,6 Agnes St,4,h,1285000.0,Village,2017-08-26,6.3,3013.0,4.0,1.0,1.0,362.000000,112.000000,1920.0,Maribyrnong,-37.81188,144.88449,Western Metropolitan,6543.0
23546,Yarraville,33 Freeman St,4,h,1050000.0,Village,2017-08-26,6.3,3013.0,4.0,2.0,2.0,346.339080,139.000000,1950.0,Maribyrnong,-37.81829,144.87404,Western Metropolitan,6543.0

In [218]:
df_final['Month'] = df_final['Date'].dt.strftime('%m').astype(str)

# Create a derived column which will show the month in string format of the date column

In [219]:
df_final

,Suburb,Address,Rooms,Type,Price,SellerG,Date,Distance,Postcode,Bedroom,...,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount,Month
0,Abbotsford,68 Studley St,2,h,1026500.0,Jellis,2016-09-03,2.5,3067.0,2.0,...,1.0,206.000000,119.351351,NaN,Yarra,-37.80140,144.99580,Northern Metropolitan,4019.0,09
1,Abbotsford,85 Turner St,2,h,1335000.0,Biggin,2016-12-03,2.5,3067.0,2.0,...,1.0,206.000000,119.351351,NaN,Yarra,-37.79960,144.99840,Northern Metropolitan,4019.0,12
2,Abbotsford,25 Bloomburg St,2,h,1035000.0,Biggin,2016-02-04,2.5,3067.0,2.0,...,0.0,206.000000,100.647059,1900.0,Yarra,-37.80790,144.99340,Northern Metropolitan,4019.0,02
3,Abbotsford,18/659 Victoria St,3,u,1026500.0,Rounds,2016-02-04,2.5,3067.0,3.0,...,1.0,206.000000,100.647059,NaN,Yarra,-37.81140,145.01160,Northern Metropolitan,4019.0,02
4,Abbotsford,5 Charles St,3,h,1335000.0,Biggin,2017-03-04,2.5,3067.0,3.0,...,0.0,206.000000,150.000000,1900.0,Yarra,-37.80930,144.99440,Northern Metropolitan,4019.0,03
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23542,Wyndham Vale,25 Clitheroe Dr,3,u,670000.0,Harcourts,2017-08-26,27.2,3024.0,3.0,...,0.0,552.000000,119.000000,1990.0,Wyndham,-37.90032,144.61839,Western Metropolitan,5262.0,08
23543,Wyndham Vale,19 Dalrymple Bvd,4,h,670000.0,hockingstuart,2017-08-26,27.2,3024.0,3.0,...,2.0,535.363636,148.837778,NaN,Wyndham,-37.87882,144.60184,Western Metropolitan,5262.0,08
23544,Yallambie,17 Amaroo Wy,4,h,1100000.0,Buckingham,2017-08-26,12.7,3085.0,4.0,...,2.0,596.777778,173.023529,NaN,Banyule,-37.72006,145.10547,Northern Metropolitan,1369.0,08
23545,Yarraville,6 Agnes St,4,h,1285000.0,Village,2017-08-26,6.3,3013.0,4.0,...,1.0,362.000000,112.000000,1920.0,Maribyrnong,-37.81188,144.88449,Western Metropolitan,6543.0,08
23546,Yarraville,33 Freeman St,4,h,1050000.0,Village,2017-08-26,6.3,3013.0,4.0,...,2.0,346.339080,139.000000,1950.0,Maribyrnong,-37.81829,144.87404,Western Metropolitan,6543.0,08

# Convert the format of the date to be dd-mmm-yy

In [220]:
df_final.dtypes

Suburb                   object
Address                  object
Rooms                     int64
Type                     object
Price                   float64
SellerG                  object
Date             datetime64[ns]
Distance                float64
Postcode                float64
Bedroom                 float64
Bathroom                float64
Car                     float64
Landsize                float64
BuildingArea            float64
YearBuilt               float64
CouncilArea              object
Lattitude               float64
Longtitude              float64
Regionname               object
Propertycount           float64
Month                    object
dtype: object

In [222]:
df_final['Date'] = df_final['Date'].dt.strftime('%d-%m-%Y')

In [223]:
df_final

,Suburb,Address,Rooms,Type,Price,SellerG,Date,Distance,Postcode,Bedroom,...,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount,Month
0,Abbotsford,68 Studley St,2,h,1026500.0,Jellis,03-09-2016,2.5,3067.0,2.0,...,1.0,206.000000,119.351351,NaN,Yarra,-37.80140,144.99580,Northern Metropolitan,4019.0,09
1,Abbotsford,85 Turner St,2,h,1335000.0,Biggin,03-12-2016,2.5,3067.0,2.0,...,1.0,206.000000,119.351351,NaN,Yarra,-37.79960,144.99840,Northern Metropolitan,4019.0,12
2,Abbotsford,25 Bloomburg St,2,h,1035000.0,Biggin,04-02-2016,2.5,3067.0,2.0,...,0.0,206.000000,100.647059,1900.0,Yarra,-37.80790,144.99340,Northern Metropolitan,4019.0,02
3,Abbotsford,18/659 Victoria St,3,u,1026500.0,Rounds,04-02-2016,2.5,3067.0,3.0,...,1.0,206.000000,100.647059,NaN,Yarra,-37.81140,145.01160,Northern Metropolitan,4019.0,02
4,Abbotsford,5 Charles St,3,h,1335000.0,Biggin,04-03-2017,2.5,3067.0,3.0,...,0.0,206.000000,150.000000,1900.0,Yarra,-37.80930,144.99440,Northern Metropolitan,4019.0,03
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23542,Wyndham Vale,25 Clitheroe Dr,3,u,670000.0,Harcourts,26-08-2017,27.2,3024.0,3.0,...,0.0,552.000000,119.000000,1990.0,Wyndham,-37.90032,144.61839,Western Metropolitan,5262.0,08
23543,Wyndham Vale,19 Dalrymple Bvd,4,h,670000.0,hockingstuart,26-08-2017,27.2,3024.0,3.0,...,2.0,535.363636,148.837778,NaN,Wyndham,-37.87882,144.60184,Western Metropolitan,5262.0,08
23544,Yallambie,17 Amaroo Wy,4,h,1100000.0,Buckingham,26-08-2017,12.7,3085.0,4.0,...,2.0,596.777778,173.023529,NaN,Banyule,-37.72006,145.10547,Northern Metropolitan,1369.0,08
23545,Yarraville,6 Agnes St,4,h,1285000.0,Village,26-08-2017,6.3,3013.0,4.0,...,1.0,362.000000,112.000000,1920.0,Maribyrnong,-37.81188,144.88449,Western Metropolitan,6543.0,08
23546,Yarraville,33 Freeman St,4,h,1050000.0,Village,26-08-2017,6.3,3013.0,4.0,...,2.0,346.339080,139.000000,1950.0,Maribyrnong,-37.81829,144.87404,Western Metropolitan,6543.0,08

# Create the dataframe that will show average, median, min,max price grouped by suburb

In [228]:
result = df_final.groupby('Suburb', as_index=False)['Price'].agg(['mean', 'median', 'min', 'max'])

In [229]:
result

                      mean      median       min        max
Suburb
Abbotsford    1.018428e+06  1026500.00  670000.0  1335000.0
Aberfeldie    1.131916e+06  1266047.17  670000.0  1335000.0
Airport West  7.783457e+05   730000.00  670000.0  1335000.0
Albanvale     6.700000e+05   670000.00  670000.0   670000.0
Albert Park   1.292306e+06  1335000.00  670000.0  1335000.0
...                    ...         ...       ...        ...
Wyndham Vale  6.730000e+05   670000.00  670000.0   742000.0
Yallambie     8.218140e+05   790500.00  670000.0  1335000.0
Yarra Glen    6.700000e+05   670000.00  670000.0   670000.0
Yarraville    9.617328e+05   967279.70  670000.0  1335000.0
croydon       7.300000e+05   730000.00  730000.0   730000.0

[336 rows x 4 columns]

In [230]:
result['mean'] = result['mean'].round(2)

In [231]:
result

                    mean      median       min        max
Suburb
Abbotsford    1018427.88  1026500.00  670000.0  1335000.0
Aberfeldie    1131916.02  1266047.17  670000.0  1335000.0
Airport West   778345.72   730000.00  670000.0  1335000.0
Albanvale      670000.00   670000.00  670000.0   670000.0
Albert Park   1292305.83  1335000.00  670000.0  1335000.0
...                  ...         ...       ...        ...
Wyndham Vale   673000.00   670000.00  670000.0   742000.0
Yallambie      821814.03   790500.00  670000.0  1335000.0
Yarra Glen     670000.00   670000.00  670000.0   670000.0
Yarraville     961732.78   967279.70  670000.0  1335000.0
croydon        730000.00   730000.00  730000.0   730000.0

[336 rows x 4 columns]

# Create the dataframe that will show average, median, min,max price grouped by house type

In [232]:
result = df_final.groupby('Type', as_index=False)['Price'].agg(['mean', 'median', 'min', 'max'])

In [233]:
result['mean'] = result['mean'].round(2)

In [234]:
result

            mean     median       min        max
Type
h     1052777.79  1080000.0  670000.0  1335000.0
t      941340.45   880000.0  670000.0  1335000.0
u      794267.04   670000.0  670000.0  1335000.0

# Create the dataframe that will show average, median, min,max price grouped by house type & bedrooms

In [235]:
result = df_final.groupby(['Type', 'Bedroom'], as_index=False)['Price'].agg(['mean', 'median', 'min', 'max'])
result['mean'] = result['mean'].round(2)
result

                    mean       median         min         max
Type Bedroom
h    0.0      1043772.73  1030000.000   670000.00  1335000.00
     1.0       924929.63   860000.000   670000.00  1335000.00
     2.0      1000137.30   971226.050   670000.00  1335000.00
     3.0      1023408.71  1011147.280   670000.00  1335000.00
     4.0      1120598.28  1259675.000   670000.00  1335000.00
     5.0      1193921.29  1335000.000   670000.00  1335000.00
     6.0      1171322.79  1335000.000   670000.00  1335000.00
     7.0      1229067.32  1335000.000   670000.00  1335000.00
     8.0      1014452.96   922756.475   741000.00  1335000.00
     9.0      1092113.54  1279567.690   751000.00  1335000.00
     10.0      900000.00   900000.000   900000.00   900000.00
     20.0     1335000.00  1335000.000  1335000.00  1335000.00
     30.0     1214144.44  1214144.440  1214144.44  1214144.44
t    0.0       945000.00   830000.000   670000.00  1335000.00
     1.0       796334.62   670000.000   670000.00  1279567.69
     2.0       824177.58   725000.000   670000.00  1335000.00
     3.0       954106.94   900000.000   670000.00  1335000.00
     4.0      1100565.01  1164933.330   670000.00  1335000.00
     5.0      1043716.41  1000000.000   670000.00  1335000.00
u    0.0       737333.33   670000.000   670000.00   872000.00
     1.0       744256.21   670000.000   670000.00  1335000.00
     2.0       786458.80   670000.000   670000.00  1335000.00
     3.0       895711.65   817000.000   670000.00  1335000.00
     4.0       994156.99   931335.735   670000.00  1335000.00
     5.0       837119.20   917000.000   670000.00   924357.59
     6.0      1335000.00  1335000.000  1335000.00  1335000.00

# Create the dataframe that will show distribution of # of houses by house type, bedrooms

In [237]:
result = df_final.groupby(['Type', 'Bedroom'], as_index=False)['Price'].agg(['count'])
result

              count
Type Bedroom
h    0.0         11
     1.0         75
     2.0       1970
     3.0       9105
     4.0       3596
     5.0        861
     6.0        103
     7.0         17
     8.0          8
     9.0          5
     10.0         1
     20.0         1
     30.0         1
t    0.0          3
     1.0         17
     2.0        456
     3.0       1823
     4.0        199
     5.0          9
u    0.0          3
     1.0        850
     2.0       3753
     3.0        636
     4.0         34
     5.0          3
     6.0          1

# Create the dataframe that will show average, median, min,max price by council area

In [239]:
result = df_final.groupby('CouncilArea', as_index=False)['Price'].agg(['mean', 'median', 'min', 'max'])
result['mean'] = result['mean'].round(2)
result

                         mean       median        min        max
CouncilArea
Banyule             914803.14   852000.000   670000.0  1335000.0
Bayside            1219067.05  1335000.000   670000.0  1335000.0
Boroondara         1209000.03  1335000.000   670000.0  1335000.0
Brimbank            706799.56   670000.000   670000.0  1335000.0
Cardinia            675210.53   670000.000   670000.0   764000.0
Casey               715133.69   670000.000   670000.0  1300000.0
Darebin             895132.75   829000.000   670000.0  1335000.0
Frankston           766684.09   670000.000   670000.0  1335000.0
Glen Eira          1049121.38  1103215.150   670000.0  1335000.0
Greater Dandenong   736852.74   670000.000   670000.0  1250000.0
Hobsons Bay         938611.84   890000.000   670000.0  1335000.0
Hume                689915.20   670000.000   670000.0  1335000.0
Kingston            959967.58   937250.000   670000.0  1335000.0
Knox                883196.77   846485.295   670000.0  1335000.0
Macedon Ranges      732867.65   670000.000   670000.0   967500.0
Manningham         1155443.49  1225128.750   670000.0  1335000.0
Maribyrnong         852331.16   805000.000   670000.0  1335000.0
Maroondah           900132.65   895740.000   670000.0  1335000.0
Melbourne           891643.94   796000.000   670000.0  1335000.0
Melton              688989.05   670000.000   670000.0  1150000.0
Mitchell            670000.00   670000.000   670000.0   670000.0
Monash             1097069.65  1116973.290   670000.0  1335000.0
Moonee Valley       970379.75   940500.000   670000.0  1335000.0
Moorabool           670000.00   670000.000   670000.0   670000.0
Moreland            836904.79   770000.000   670000.0  1335000.0
Nillumbik           867693.59   884125.000   670000.0  1335000.0
Port Phillip       1011637.48   968568.180   670000.0  1335000.0
Stonnington        1105399.93  1330000.000   670000.0  1335000.0
Unavailable        1325000.00  1325000.000  1325000.0  1325000.0
Whitehorse         1116015.67  1205000.000   670000.0  1335000.0
Whittlesea          699336.76   670000.000   670000.0  1335000.0
Wyndham             677206.44   670000.000   670000.0  1305000.0
Yarra              1058554.70  1077620.870   670000.0  1335000.0
Yarra Ranges        773760.57   742323.530   670000.0  1085000.0

# Create a dataframe to show average, median,min, max price groped by house type, bathrooms by using pivot function

In [240]:
df_final['Bathroom']

0        1.0
1        1.0
2        1.0
3        2.0
4        2.0
        ...
23542    1.0
23543    1.0
23544    3.0
23545    1.0
23546    2.0
Name: Bathroom, Length: 23547, dtype: float64

In [245]:
temp = pd.pivot_table(df_final, index=['Type','Bathroom'], values=['Price'],aggfunc=[np.max, np.min, np.mean, np.median])

In [246]:
temp

                     amax        amin          mean       median
                    Price       Price         Price        Price
Type Bathroom
h    0.0       1335000.00   670000.00  1.120547e+06  1292918.030
     1.0       1335000.00   670000.00  1.001019e+06   971226.050
     2.0       1335000.00   670000.00  1.088771e+06  1200000.000
     3.0       1335000.00   670000.00  1.214970e+06  1335000.000
     4.0       1335000.00   670000.00  1.251794e+06  1335000.000
     5.0       1335000.00   670000.00  1.268967e+06  1335000.000
     6.0       1335000.00   751000.00  1.203200e+06  1335000.000
     7.0       1335000.00  1335000.00  1.335000e+06  1335000.000
     8.0       1335000.00   760000.00  1.047500e+06  1047500.000
     12.0      1214144.44  1214144.44  1.214144e+06  1214144.440
t    0.0       1335000.00   694981.60  1.039245e+06  1063500.000
     1.0       1335000.00   670000.00  8.085924e+05   710000.000
     2.0       1335000.00   670000.00  9.574629e+05   905000.000
     3.0       1335000.00   670000.00  1.116937e+06  1185000.000
     4.0       1335000.00   754394.05  1.217278e+06  1301068.465
u    0.0       1335000.00   670000.00  8.337857e+05   700000.000
     1.0       1335000.00   670000.00  7.726109e+05   670000.000
     2.0       1335000.00   670000.00  9.111465e+05   840000.000
     3.0       1335000.00   670000.00  1.067669e+06  1000000.000
     4.0       1335000.00  1335000.00  1.335000e+06  1335000.000